html, body {
          width: 100%;
          height: 100%;
          margin: 0;
        }

body { 
    padding-top: 70px; 
    font-family: 'Lato', sans-serif;
}

h1, h2, h6, label, .navbar-brand, .modal { 
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #1A9CDC;
    cursor: pointer;
}

button {
    background-color: #1A9CDC;
    border: none;
    color: white;
    padding: 10px 19.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
}

button:hover {

}

/*NAVBAR*/

.navbar-inverse {
    background-color: #1A9CDC;
    border: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav li a:hover {
    color: #333;
    cursor: pointer;
}

a.navbar-brand {
    font-size: 30px;
    letter-spacing: -0.03em;
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: 15px;
}

.navbar-inverse .navbar-nav>li>a, .modal-title {
    font-size: 20px;
    letter-spacing: -0.03em;
    font-weight: 400;
    line-height: 1.2em;
    margin-top: 8px;
}

/*MODAL WINDOW*/

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-body p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: -0.03em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0 auto;
}

.btn-default {
    background-color: #1A9CDC; 
    opacity: 0.9;
    text-align: center;
}

/*SEARCH AUTOCOMPLETE*/

#search-boxes {
    margin: 40px auto;
}

#books-autocomplete {
    width: 40%;
}

#genres-autocomplete, #authors-autocomplete {
    width:20%;
}

.form-inline input {
    margin: 0 auto;
}

.form-inline label {
    margin: 0 auto;
    font-size: 15px;
    letter-spacing: -0.03em;
    font-weight: 400;
    line-height: 1.2em;
}

.ui-autocomplete {
    max-width: 450px;
}

/*AWARDS*/

#awards img {
    width:200px;
    border: 0;
}

.wrapper {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
}

#award-name {
    font-size: 35px;
    letter-spacing: -0.01em;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.2em;
    color: #242424;
}

#award-info {
    font-family: 'Lato';
    font-size: 20px;
    line-height: 1.6em;
    margin-bottom: 20px;
    color: #2C2C2C;
    text-align: justify;
}

#award-info p {
    font-family: 'Lato';
    font-size: 20px;
    color: #7E7E7E;
    margin-top: 15px;
    line-height: 1.4em;
}



/*@media screen and (min-width: 768px)
.jumbotron {
    padding-right: 60px;
    padding-left: 60px;
}*/

/*BOOK DITAILS*/

#book-info {
    display: none;
    position: relative;
}

#bio {
    width: 800px;
    display: none;
    /*border: 1px solid gray;*/
}

.floating-awards {
    display: inline-block;
    width: 200px;
    height: 270px;
    margin: 40px;
}

.books {
    display: table-row;
    /*float: left;*/
    height: 270px;
    margin-bottom: 40px;
}

.book-image {
    width: 140px;
}

/*return to the top side button*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(191, 191, 191);
    background: rgba(191, 191, 191, 0.8);
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(26,156,220,0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}