html, body {
          width: 100%;
          height: 100%;
          margin: 0;
        }

body { 
    /*padding-top: 70px; */
    font-family: 'Lato', sans-serif;
}

h1, h3, h6, label, .navbar-brand, .modal, #book_title { 
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #1A9CDC;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: rgba(191, 191, 191, 0.8);
}

button {
    background-color: #1A9CDC;
    border: none;
    color: white;
    padding: 7px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
}

button:hover {
    /*background-color: #1A9CDC;*/
    background: rgba(191, 191, 191, 0.8);
}

.wrapper {
    width: 770px;
    margin: 50px auto;
    /*padding: 20px;*/
}

/*NAVBAR*/

.navbar-inverse {
    background-color: #1A9CDC;
    border: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav li a:hover {
    color: #333;
    cursor: pointer;
}

a.navbar-brand {
    font-size: 30px;
    letter-spacing: -0.03em;
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: 15px;
}

.navbar-inverse .navbar-nav>li>a, .modal-title {
    font-size: 20px;
    letter-spacing: -0.03em;
    font-weight: 400;
    line-height: 1.2em;
    margin-top: 8px;
}

/*MODAL WINDOW*/

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-body p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    letter-spacing: -0.01em;
    font-weight: 400;
    line-height: 1.6em;
    margin: 0 auto;
}

.btn-default {
    background-color: #1A9CDC; 
    opacity: 0.9;
    text-align: center;
    color: #fff;
}

/*SEARCH AUTOCOMPLETE*/

#search-boxes {
    margin: 40px auto;
}

#books-autocomplete {
    width: 100%;
}

#genres-autocomplete, #authors-autocomplete {
    width:100%;
}

.form-inline input {
    margin: 0 auto;
}

.form-inline label {
    margin: 0 auto;
    font-size: 15px;
    letter-spacing: -0.03em;
    font-weight: 400;
    line-height: 1.2em;
}

.ui-autocomplete {
    max-width: 450px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #aaaaaa;
    background: #ffffff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
    background-color: #1A9CDC;
    font-weight: normal;
    color: #fff;
}

/*AWARDS*/

.floating-awards {
    display: inline-block;
    width: 200px;
    height: 270px;
    margin: 40px 80px 40px 0;
}

.floating-awards img:hover {
    cursor: pointer;
    opacity: .5;
}

#awards img {
    width:200px;
    border: 0;
}

#award-name, #book_title {
    font-size: 35px;
    letter-spacing: -0.01em;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.2em;
}

#award-info {
    font-family: 'Lato';
    font-size: 20px;
    line-height: 1.6em;
    margin-bottom: 20px;
    text-align: justify;
}

#award-info p {
    font-family: 'Lato';
    font-size: 20px;
    color: #7E7E7E;
    margin-top: 15px;
    padding-bottom: 10px;
    line-height: 1.4em;
}

@media screen and (min-width: 300px)
.wrapper {
    padding-right: 60px;
    padding-left: 60px;
}

/*BOOKS*/

.books {
    display: table-row;
    /*float: left;*/
    height: 270px;
    margin: 40px 0;
}

.book-image {
    width: 140px;
    height: 200px
}

.books img:hover {
    cursor: pointer;
    opacity: .5;
}

/*BOOK DITAILS*/

#book-info {
    display: none;
    position: relative;
    font-size: 18px;
    letter-spacing: -0.01em;
    line-height: 1.4em;
    font-weight: 400;
    text-align: justify;
}

#book_title {
    font-size: 25px;
    letter-spacing: -0.01em;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.2em;
}

#book-info img {
    width: 20%;
    float: left;
    margin: 8px 15px 0 0;
    white-space: nowrap;
}

#biography {
    margin-bottom: 30px;
}

#bio {
    display: inline;
    font-family: 'Lato';
    font-size: 15px;
    color: #7E7E7E;
    line-height: 1.4em;
    letter-spacing: -0.01em;
}

#description {
    margin-bottom: 40px;
}

#book_award {
    overflow: hidden;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #7E7E7E;
    border-top: 1px solid #7E7E7E;
}

/*RETURN TO THE TOP SIDE BUTTON*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(191, 191, 191);
    background: rgba(191, 191, 191, 0.8);
    width: 50px;
    height: 50px;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(26,156,220,0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
