{% extends 'base.html' %}
{% block content %}
	<div id="homepage-block">

        <div id="search-boxes">
            <label for="books-autocomplete">Search by: </label>
            <input type="text" name="titles" id="books-autocomplete" class="autocomplete" placeholder="Book title" /> 

            <input type="text" name="names" id="authors-autocomplete" class="autocomplete" placeholder="Author name"/>
        </div>

        <div id="awards">
            <h2>Awards!!!</h2>
            {% for image in images %}
                <div class="floating-images">
                    <a id="{{ image.id }}" class="award-image">
                        <img src="{{ image.url }}" alt="image representing an award">
                    </a>
                </div>
            {% endfor %}
        </div>

        <div id="award-years"></div>
        <div id="books">
        </div>
        <div id="book-info">
                <h3 id="book_title">
                </h3>
                <p>
                    <img id="book_image" src=" " alt="a pretty image of your selected book">
                </p>
                <p id="authors"></p>
                <p id="description"></p>
                <p id="pages"></p>
                <p id="published"></p>
                <p id="genre"></p>
        </div>

	</div>

{% endblock %}